@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-image: url('./assets/ozero_gory_dolina_160899_3840x2160.jpg');
  background-size: cover;
  background-position: bottom;
  font-family: 'Merriweather', serif;
}

.main{
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.55));
  padding: 25px;
}

.search-form{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}

.search{
  display: block;
  padding: 18px;
  border-radius: 10px;
  min-width: 45%;
  border: none;
  background-color: rgba(31, 30, 30, 0.7);
  font-weight: bold;
  color: rgb(255, 253, 253);
  margin-top: 2%;
  font-size: 22px;
}

@media (max-width:480px)  { 
  .search{
    width: 100%;
  }
  .weather-text{
    width: 96%;
  }

}


